# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lab1/settings/hello.Debug.cspy.bat
Lab1/settings/hello.Debug.cspy.ps1
Lab1/settings/hello.Debug.driver.xcl
Lab1/settings/hello.Debug.general.xcl
Lab1/settings/hello.crun
Lab1/settings/helloworld.wsdt
Lab1/settings/hello.dnx
Lab1/Debug/.ninja_deps
Lab1/Debug/.ninja_log
Lab1/Debug/BrowseInfo/.ninja_deps
Lab1/Debug/BrowseInfo/.ninja_log
Lab1/Debug/BrowseInfo/build.ninja
Lab1/Debug/BrowseInfo/hello.pbd
Lab1/Debug/BrowseInfo/hello.pbd.browse
Lab1/Debug/BrowseInfo/hello.pbw
Lab1/Debug/BrowseInfo/main.pbi
Lab1/Debug/BrowseInfo/main.pbi.dep
Lab1/Debug/BrowseInfo/main.xcl
Lab1/Debug/List/hello.map
